/*
* For styles only loaded in the editor
* These styles are actually inlined using webpack style-loader.  They are not loaded using WordPress enqueuing.
*/

.wp-admin {
    @media (min-width: 768px) {
        .col-full {
            max-width: 66.4989378333em;
            margin-left: auto;
            margin-right: auto;
            padding: 0 2.617924em;
            box-sizing: content-box
        }
        .col-full:after,
        .col-full:before {
            content: "";
            display: table
        }
        .col-full:after {
            content: " ";
            display: block;
            clear: both
        }
    }
    @media (max-width: 66.4989378333em) {
        .col-full {
            margin-left: 2.617924em;
            margin-right: 2.617924em;
            padding: 0;
        }
    }
    .editor-styles-wrapper .storefront-has-sidebar .wp-block {
        max-width: 100%;
        overflow: hidden;
    }
    .wp-block-borncreative-header-block {
        .media:hover,
        .media:focus {
            cursor: pointer;
            // this psuedo element trick allows us to overlay a border
            // that will not affect the size of the image or the media
            // div
            &:after {
                position: absolute;
                content: '';
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border: 4px solid lightgreen;
                pointer-events: none;
            }
        }
        .media {
            position: relative;
            // we need to make the button invisible
            button {
                border: none;
                padding: 0;
                display: block;
                width: 100%;
                height: 100vh;
            }
        }
    }
}